.navbar {
  justify-content: space-between;
}

.navbar button {
  width: 200px;
  margin: 10px;
}

.InputFields {
  margin-top: 50px;
  width: 100%;
}

.InputFields table {
  width: 80%;
  margin-left: 10%;
}

.InputFields tr {
  width: 100%;
}

.InputFields td {
  width: 100%;
}

.ArticleContent {
  width: 100%;
}

.ArticleContent textarea {
  width: 100%;
  height: 500px;
}

.ArticleTitle {
  width: 50%;
}

.ArticleTitle input {
  width: 100%;
}

.ArticleComment {
  width: 50%;
}

.ArticleComment textarea {
  width: 100%;
  height: 100px;
}

.ButtonPanel {
  margin-bottom: 30px;
}

.ButtonPanel button {
  width: 200px;
  margin-right: 10px;
}

.RightsPanel {
  width: 100%;
}

.RightsPanel mat-form-field {
  width: 45%;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
